<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64952372984-fup3ga2slselib9jp7kbaf0u46s1tdvo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64952372984-fup3ga2slselib9jp7kbaf0u46s1tdvo</string>
	<key>API_KEY</key>
	<string>AIzaSyBC_LL5aCmvHNnwBHuXaP1xVXG5iznUZsw</string>
	<key>GCM_SENDER_ID</key>
	<string>64952372984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oops.LetMeKnow</string>
	<key>PROJECT_ID</key>
	<string>letmeknow-8c028</string>
	<key>STORAGE_BUCKET</key>
	<string>letmeknow-8c028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64952372984:ios:276c5356ddee673888350d</string>
</dict>
</plist>